<div class="main-content" style="margin-top: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <button mat-raised-button class="btn" style="background-color: rgb(26, 44, 94); "
                        data-toggle="modal" data-target="#exampleModal">
                        + New
                    </button>
                </div>

                <div class="card">
                    <!-- <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                </thead>
                                <tbody *ngFor="let cat of listDiscount">
                                    <tr>
                                        <td>{{cat.name}}</td> 
                                        <td>{{cat.username}}</td>
                                        <td>{{cat.email}}</td>
                                        <td>{{cat.phone}}</td>
                                        <td>
                                            <button mat-raised-button (click)="openModel()"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-raised-button (click)="openModel()"
                                                class="btn btn-danger btn-sm"><span class="material-icons">
                                                    delete_forever
                                                </span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Discount Code</th>
                                        <th>Discount Name</th>
                                        <th>Amount</th>
                                        <th>Product Code</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>test_code</td>
                                        <td>test_name</td>
                                        <td>amount</td>
                                        <td>test_code</td>
                                        <td>Active</td>
                                        <td style="text-align: center;">

                                            <button mat-raised-button data-toggle="modal" data-target="#exampleModal"
                                                class="btn btn-success btn-sm"><span class="material-icons">
                                                    edit
                                                </span>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Discount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="discountCode">Discount Code</label>
                        <input type="text" class="form-control" id="discountCode" placeholder="Type discount code">
                    </div>
                    <div class="form-group">
                        <label for="discountName">Discount Name</label>
                        <input type="text" class="form-control" id="discountName" placeholder="Type discount name">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="Type amount">
                    </div>
                    <div class="form-group">
                        <label for="productCode">Product Code</label>
                        <select class="form-control list-group list-group-flush" id="productCode"
                            title="Single Select" data-size="2">
                            <!-- <option disabled selected> Select the code</option> -->
                            <option value="1">code 1</option>
                            <option value="2">code 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="productStatus">Status</label>
                        <select class="form-control list-group list-group-flush" id="productStatus"
                            title="Single Select" data-size="2">
                            <!-- <option disabled selected> Choose city</option> -->
                            <option value="1">Active</option>
                            <option value="2">InActive</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>